* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  overflow:auto;
  background-image: url(images/3.jpg);
  background-size: cover;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.card-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  width: 960px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.card-container::-webkit-scrollbar{
  display: none;
}

.card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 10px;
}